doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/jquery.easing/js/jquery.easing.min.js')
    script(type='text/javascript', src='/validator-js/validator.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    link(rel='stylesheet', href='/pure/pure-min.css')
    link(rel='stylesheet', href='/fontawesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    != LRScript
  body
    #nav
      ul.clearfix
        li.left
          a(href="/matching") Home
        li.left
          a(href="/settings") Settings 
        li.left
          a(href="/editProfile") Profile 
        li.left
          a(href="/teams") Team
        li.left
          a(href="/chatRoomList") Chat
    h1.titlehead#title= title
    #content                        
      block content
  footer
    block script
