doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(type='text/javascript', src='/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/jquery.easing/js/jquery.easing.min.js')
    script(type='text/javascript', src='/scripts/main.js')
    link(rel='stylesheet', href='/purecss/src/base/css/base.css')
    link(rel='stylesheet', href='/fontawesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    != LRScript
  body
    block script
  body
    block content
