extends ../layout

block content
  h1 Choose a chat room!

  ul#chatRoomList
  
  script(src='//code.jquery.com/jquery-1.11.0.min.js')
  script(src='/socket.io/socket.io.js')  
  script.
    var socket = io();
    socket.emit('chatRoomList', function(err, chatRoomList) {
      chatRoomList.forEach(function(chatRoom) {
        socket.emit('memberList', chatRoom._id, function(err, lists) {
          if (err) console.log(err);
          var team1 = '';
          var team2 = '';
          lists[0].forEach(function(member) {
            team1 += '<img width=40px height=40px src="/users/' + member._id + '/picture/" >';
          });
          lists[1].forEach(function(member) {
            team2 += '<img width=40px height=40px src="/users/' + member._id + '/picture/" >';
          });

          var li = $('<li><div id="' 
          + chatRoom._id 
          + '" class="container pure-button button-room"><div class="team1">'
          + team1
          + '</div><div class="team2">'
          + team2
          + '</div></div>'
          + '</li>');
          $('#chatRoomList').append(li);
        });
      });
    });

    $('ul').on('click', 'li .container', function(event) {
      var roomId = $(this).attr('id');
      window.location.replace('/chatRoom/' + roomId);
    });
