extends ../layout

block content
  h1#title= title
  p Welcome to #{title}

  ul#conversation

  input#message
  input#submit(type='submit', value='submit')

  script(src='//code.jquery.com/jquery-1.11.0.min.js')
  script(src='/socket.io/socket.io.js')
  script.
    var socket = io('/chatRoom');
    socket.emit('join room', '#{roomId}');

    $('#submit').on('click', function(event) {
      socket.emit('message', $('#message').val());
      $('#message').val('');
    })

    socket.on('message', function(message) {
      var li = $('<li> <img src="/users/'
      + message.userId + '/picture" /><span>'
      + message.message + '</span></li>');
      $('#conversation').append(li);
    });
