extends ../layout

block content
  h1 Choose a chat room!

  ul#chatRoomList
  
  script(src='//code.jquery.com/jquery-1.11.0.min.js')
  script(src='/socket.io/socket.io.js')  
  script.
    var socket = io();

    socket.emit('chatRoomList', function(err, chatRoomList) {
      chatRoomList.forEach(function(chatRoom) {
        socket.emit('memberList', chatRoom._id, function(err, lists) {
          if (err) console.log(err);
          var chatRoomName = '';
          lists[0].forEach(function(member) {
            chatRoomName += member.name + ' ';
          });
          lists[1].forEach(function(member) {
            chatRoomName += member.name + ' ';
          });

          var li = $('<li><a href="/chatRoom/'
          + chatRoom._id
          + '">'
          + chatRoomName
          + '</a></li>');
          $('#chatRoomList').append(li);
        });
      });
    });
