extends ../layout

block content
  h1#title= title
  p Welcome to #{title}

  ul
    for roomId in roomIdList
      li
        a(href= '/chatRoom/' + '#{roomId}') #{roomId}
  
  script(src='//code.jquery.com/jquery-1.11.0.min.js')
  script(src='/socket.io/socket.io.js')  
  script.
    var socket = io('/chatRoomList');
