extends ../layout

block content
  h1 Choose a chat room!

  ul#chatRoomList
  
  script(src='//code.jquery.com/jquery-1.11.0.min.js')
  script(src='/socket.io/socket.io.js')  
  script.
    var socket = io('/chatRoomList');

    socket.on('chatRoomList', function(chatRoomList) {
      chatRoomList.forEach(function(chatRoom) {
        var li = $('<li><a href="/chatRoom/'
        + chatRoom._id
        + '">'
        + chatRoom._id
        + '</a></li>');
        $('#chatRoomList').append(li);
      });
    });
