extends ../layout

block content
  h1#title= title
  h1 choose 2 for your gokon team!
  ul.chooseFriends
    li.clearfix
      h5.left Justin Clune, &nbsp;
      h5.left 25 
      a
        h5.right(href="#") add
    li.clearfix
      h5.left Justin Clune, &nbsp;
      h5.left 25 
      a
        h5.right(href="#") add
    li.clearfix
      h5.left Justin Clune, &nbsp;
      h5.left 25 
      a
        h5.right(href="#") add