extends ../layout

block content
  img(src='/users/my/picture', width=100, height=100, style='display:block;margin:auto;border-radius:100px')
  form(action='/editProfile', method='POST' , class='pure-form pure-form-stacked', style='width: 300px;margin: 10px')
    label(for='name') Name:
    input(type='text', id='name', name='name' size=29)
    label(for='bio') Introduction:
    textarea(id='bio', name='bio', rows=8, cols=29)
    button(type='submit', class='pure-button pure-button-primary') 送信

  script(src='//code.jquery.com/jquery-1.11.0.min.js')
  script.
    var socket = io();
    socket.emit('user:info', function(err, user) {
      $('#name').val(user.name);
      $('#bio').text(user.bio);

      console.log(user);
    });
