extends ../layout

block content
  h1#title= title
  .center-wrap
    ul.card.center.boxShadow
      li.my
        .clearfix
          img.left.my-picture.picture
          span.left.profile
            .clearfix
              span.left
                h5.my-name.name Name
              span.left
                h5 ,&nbsp;
              span.left
                h5.my-age.age Age
            h5.my-bio.bio      
      li.f1.disabled
        .clearfix
          img.left.f1-picture.picture
          span.left.profile
            .clearfix
              span.left
                h5.f1-name.name Name
              span.left
                h5 ,&nbsp;
              span.left
                h5.f1-age.age Age
            h5.f1-bio.bio
      li.f2.disabled
        .clearfix
          img.left.f2-picture.picture
          span.left.profile
            .clearfix
              span.left
                h5.f2-name.name Name
              span.left
                h5 ,&nbsp;
              span.left
                h5.f2-age.age Age
            h5.f2-bio.bio  