extends ../layout

block content
  h1#title= title
  h5
    span My Bio: &nbsp;
    span.mybio
  h5
    span My Name: &nbsp;
    span.myname
  h5
    span My Age: &nbsp;
    span.myage
  img.myphoto(src="/users/my/picture")
