extends ../layout

block content
  h1#title= title
  ul.friendlist
    li.clearfix
      h5.left Justin Clune, &nbsp;
      h5.left 25 
      a
        h5.right(href="#") chat
    li.clearfix
      h5.left Justin Clune, &nbsp;
      h5.left 25 
      a
        h5.right(href="#") chat
    li.clearfix
      h5.left Justin Clune, &nbsp;
      h5.left 25 
      a
        h5.right(href="#") chat


