//- このファイルはchooseFriendsに統合するので使わない

//- extends ../layout

//- block content
//-   h1.titlehead#title= title
//-   ul.friendlist
//-     socket.on()
//-     .list2
//-       img.left(src='/users/my/picture/')
//-       li.clearfix
//-         h5.left Justin Clune, &nbsp;
//-         h5.left 25 
//-         a
//-           h5.right.addbutton(href="#") chat
//-     .list2
//-       img.left(src='/users/my/picture/')
//-       li.clearfix
//-         h5.left Justin Clune, &nbsp;
//-         h5.left 25 
//-         a
//-           h5.right.addbutton(href="#") chat
//-     .list2
//-       img.left(src='/users/my/picture/')
//-       li.clearfix
//-         h5.left Justin Clune, &nbsp;
//-         h5.left 25 
//-         a
//-           h5.right.addbutton(href="#") chat


