extends ../layout

block content
  .center-wrap
    ul.card.center.boxShadow
      li.my
        .clearfix
          img.left.my-picture.picture
          span.left.profile
            .topline.clearfix
              span.left
                h5.my-name.name
              span.left
                h5 ,&nbsp;
              span.left
                h5.my-age.age
              span.left
                h5 ,&nbsp;
              span.left
                h5.my-gender.gender
            p.my-bio.bio  
      li.f1
        .clearfix
          img.left.f1-picture.picture
          span.left.profile
            .topline.clearfix
              span.left
                h5.f1-name.name
              span.left
                h5 ,&nbsp;
              span.left
                h5.f1-age.age
              span.left
                h5 ,&nbsp;
              span.left
                h5.f1-gender.gender
            p.f1-bio.bio
      li.f2
        .clearfix
          img.left.f2-picture.picture
          span.left.profile
            .topline.clearfix
              span.left
                h5.f2-name.name
              span.left
                h5 ,&nbsp;
              span.left
                h5.f2-age.age
              span.left
                h5 ,&nbsp;
              span.left
                h5.f2-gender.gender
            p.f2-bio.bio  
block script
  script(type='text/javascript', src='/scripts/getdata.js')
  script.
    console.log('matching');
    getdata.get();