extends ../layout

block content
  h1#title= title
  .settings-item.center-wrap
    h4
      i.fa.fa-car &nbsp; Distance (km):
    .center.clearfix
      span.left 0
      input.left(type="range",min="0",max="100")
      span.left 100

  .settings-item.center-wrap
    h4
      i.fa.fa-wheelchair &nbsp; Maximum Age:
    .center.clearfix
      span.left 18
      input.left(type="range",min="18",max="50")
      span.left 50

  .settings-item.center-wrap
    h4
      i.fa.fa-female &nbsp; Show gender:
    input.center(type="radio",name="gender",value="male")
    span men &nbsp;&nbsp;&nbsp;
    input.center(type="radio",name="gender",value="female")
    span women

  .settings-item.center-wrap
    h4 
      i.fa.fa-question &nbsp; How to Use:
    span.left (1) In the menu, choose "search"
    span.left (2) Swipe right to like or left to pass!

  .settings-item.center-wrap
    h4.center
      a(href="mailto:clune.justin@cyberagent.co.jp")
        i.fa.fa-envelope-o &nbsp; Contact Us:

  .settings-item.center-wrap
    h4.center
      a(href="/logout")
        i.fa.fa-power-off &nbsp; logout
    
